/*  CSS3 ✰ Classes  */
.ir{direction:ltr;display:block;height:100%;overflow:hidden;position:relative;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
.hidden{display:none}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-o-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;-khtml-user-select:none}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.clear{display:block;clear:both;zoom:1}
.nomargin{margin:0 !important}
*{margin:0}
body{font-family:'Open Sans',sans-serif;font-weight:300;color:#323e4a;background:#f2f2f2;font-size:16px}
h1,h2,h3{font-weight:300}
li{list-style:none}
a{text-decoration:none}
.avatar{text-align:center;}
.avatar svg{max-width:300px;height:250px}
.contratame{align-content:center;border-bottom:10px dashed #4ad391;border-top:10px dashed #4ad391;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:flex;margin:20px 0;padding:30px 10px;flex-wrap:wrap;text-align:center;}
.contratame .big{font-size:30px}
.frases{margin-bottom:150px;}
.frases.extended{padding:20px}
.frases .frase .text{font-size:30px;}
.frases .frase .text:first-letter{font-size:40px;font-weight:bold;text-decoration:underline}
.frases .frase .details{float:right}
.frases .frase .author,.frases .frase .date{font-size:12px}
.frases .frase .author{font-size:15px;font-weight:bold;text-decoration:underline}
.frases .frase .twitter{font-size:10px}
.header{background:#4ad391;bottom:0;padding:20px;position:fixed;top:0;width:380px;text-align:center;-o-animation:header .5s;-ms-animation:header .5s;-moz-animation:header .5s;-webkit-animation:header .5s;animation:header .5s;-o-transition:0.3s;-ms-transition:0.3s;-moz-transition:0.3s;-webkit-transition:0.3s;transition:0.3s;z-index:1;color:#fff;overflow:hidden;}
.header a{color:#fff}
.header .twitter{text-align:left;}
.header .twitter a{font-size:15px}
.header .lista{margin:0 -40px;position:relative;right:20px;}
.header .lista .item a{display:block;text-decoration:none;padding:10px;text-transform:uppercase;font-size:22px;}
.header .lista .item a:hover{color:#404045;background:#f2f2f2}
.header .lista .item a.active{color:#404045;text-decoration:line-through !important}
.name{font-weight:bold;text-transform:uppercase;font-size:25px;line-height:25px;text-align:left;}
.name span{font-weight:300;display:block;font-size:16px;text-transform:none;text-shadow:none;text-decoration:underline}
.image{display:inline-block;zoom:1;*display:inline;}
.image img{max-width:100%}
.video{position:relative;border:20px solid #4ad391;border-left:none;-o-border-radius:10px;-ms-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border-right:none;margin:10px 30px;padding-bottom:30px;padding-top:56.25%;}
.video iframe,.video video{position:absolute;top:0;left:0;height:100%;width:100%}
.social{text-align:left;position:absolute;bottom:0}
.wrapper{margin-left:420px;padding:20px;-o-animation:wrapper .7s;-ms-animation:wrapper .7s;-moz-animation:wrapper .7s;-webkit-animation:wrapper .7s;animation:wrapper .7s;position:relative;}
.wrapper li{position:relative;}
.wrapper li:before{position:absolute;left:-10px;content:"•"}
.wrapper a{color:#404045;}
.wrapper a:hover{color:#1384c7;text-decoration:underline}
.wrapper .link{color:#1384c7;text-decoration:underline;margin:10px;display:inline-block;zoom:1;*display:inline}
.wrapper .title{font-size:40px;display:inline-block;zoom:1;*display:inline;border-bottom:1px solid #4ad391;margin-bottom:20px}
.wrapper .subtitle{color:#fff;font-size:15px;text-transform:uppercase;}
.wrapper .subtitle span{background:#4ad391;display:inline-block;zoom:1;*display:inline;padding:0 50px 0 5px;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;border-bottom:2px solid #404045}
@media screen and (max-width:1000px){#header{width:300px}
#wrapper{margin-left:340px}
}@media screen and (max-width:767px){#header{position:static;width:auto;}
#header .social{position:static}
#wrapper{margin:0}
}@-moz-keyframes wrapper{0%{right:100%}
100%{right:0}
}@-webkit-keyframes wrapper{0%{right:100%}
100%{right:0}
}@-o-keyframes wrapper{0%{right:100%}
100%{right:0}
}@-ms-keyframes wrapper{0%{right:100%}
100%{right:0}
}@keyframes wrapper{0%{right:100%}
100%{right:0}
}@-moz-keyframes header{0%{left:-300px}
100%{left:0}
}@-webkit-keyframes header{0%{left:-300px}
100%{left:0}
}@-o-keyframes header{0%{left:-300px}
100%{left:0}
}@-ms-keyframes header{0%{left:-300px}
100%{left:0}
}@keyframes header{0%{left:-300px}
100%{left:0}
}