{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Leonidas Esteban, Front-End Web Developer</title>
    <meta name="viewport" content="width=device-width, ,minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="{% static "css/estilos.css" %}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28518727-1']);
      _gaq.push(['_setDomainName', 'leonidasesteban.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>  
    {% block body %}
    {% endblock %}

    <script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% block footer %}
    {% endblock %}
    
    </body>


</html>
