{% extends "base.html" %}

{% block body %}
    <header id="header" class="header">
        <div class="avatar">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="720.072px" height="897.09px" viewBox="0 0 720.072 897.09" enable-background="new 0 0 720.072 897.09" xml:space="preserve">
                <g id="Capa_3">
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M342.745,319.226"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M285.728,478.222"/>
                    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="639.228" y1="435.226" x2="634.895" y2="411.892"/>
                    <path fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" d="M615.478,476.56"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M597.228,636.559"/>
                    <path fill="#805126" stroke="#000000" stroke-miterlimit="10" d="M589.026,476.155"/>
                    <path fill="#EFCAA6" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M220.258,678.195c0,0,21.01,63.99,42,75.99
                        c0,0,86.875,51.546,104.47,58.329c0,0,64.431,41.591,87.5,44.499c0,0,33.671,5.838,44.002,0c0,0,51.811-1.838,53.899-6.838
                        c0,0,26.412-8.622,32.089-34.786c0,0,37.01-95.498,41.01-98.831c0,0,13.333-80,14-109.333c0,0,9.333-166.667-6.667-222
                        c0,0-53.032-186-285.183-110c0,0-140.817,52.667-154.817,172.667l-10.667,137.333l-13.333-22.667c0,0-26-13.747-26-46.54
                        c0,0-12,59.873-12,62.54s-6.667-80.902-2.667-97.784s-15.167,31.701-13.417,36.451c0,0-5-19.25-4.5-23c0,0-9,21-7,22.75
                        s-8.25-20-6.5-23.25s-15.249,25.902-16,41.75s-4.217,57.496,37.517,85.373c0,0,16.313,25.316,21.273,42.347c0,0,14.54,10.97,45,3
                        l-5.04-21.97c0,0,33.382,114.182,36.441,135.341s117.574,86.986,132.559,88.758s93.33-4.986,93.33-4.986l3.169-10.921"/>
                    <path fill="#805126" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M285.728,478.222l25-45.496
                        c0,0,121,5.5,137,30.5C447.728,463.226,354.728,441.218,285.728,478.222"/>
                    <path fill="#805126" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M447.728,457.726l4.5,8l10,4l-4-14.252
                        C458.228,455.474,447.728,452.226,447.728,457.726z"/>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M328.562,510.893c0,0,28.667-49,91.333-22"/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M398.895,476.56c0,0,16.667,6.666,23.667,13.333"/>
                    <path fill="#FFFFFF" stroke="#000000" stroke-width="3" stroke-miterlimit="10" d="M435.228,521.226c0,0-59.333-45.02-96.667,1.99
                        c0,0,16.667,19.323,84,1"/>
                    <path fill="#805126" stroke="#000000" stroke-miterlimit="10" d="M347.378,514.07c0,0,1.691,20.632,26.85,18.018
                        c0,0,17.471-2.428,15.069-29.812c0,0-16.69-0.564-22.569,1.472S348.432,513.16,347.378,514.07z"/>
                    <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M366.728,514.56c0,0,6.167,5.999,7.5-6.334"/>
                    <path fill="#805126" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M634.895,411.892
                        c0,0-75.667,23.667-85.667,57.833v2.5c0,0,28.333-27,90-37"/>
                    <path fill="#FFFFFF" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M615.478,476.56c0,0-0.25,42.416-75.25,33.166
                        C540.228,509.726,560.228,467.644,615.478,476.56"/>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M597.228,636.559c0,0,10.667,22-25.333,24.667
                        c0,0-17.667,2.333-24.667,5.667"/>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M546.228,467.727c0,0-31,26.598-15,64.382
                        l66,104.45"/>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M493.228,640.56c0,0-22.666,15.333-11.666,26.333"
                        />
                    <path fill="#805126" stroke="#000000" stroke-miterlimit="10" d="M589.026,476.155c-1.535,19.596-10.764,33.434-23.798,33.904
                        s-13.495-15.502-13.495-15.502s13.331-10.24,15.459-11.317S589.026,476.155,589.026,476.155"/>
                    <path fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" d="M565.395,493.183c0,0,5.303,3.044,4.984-5.123"/>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M446.888,743.227c0,0,74.146,13.188,124.91-9.739"
                        />
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M504.562,766.186c0,0,30.666,0.375,41.333-3.625"/>
                </g>
                <g id="Capa_5">
                    <path fill="#111010" stroke="#1D1D1B" stroke-width="10" stroke-miterlimit="10" d="M643.228,436.226l-1-139c0,0-4-30-49-58
                        c0,0,57-5,76,21.667c0,0-34-71-86.667-67.667c0,0-8.333-92-62.833-132.5c0,0,30.75,70,29,83.5c0,0-43.834-62.667-89.833-67.334
                        c0,0-22.667-15.666-24.667-16.166s10,9.5,6.667,15.5c0,0-15.334-25.333-54.667-19.333c0,0-48,10.161-60.667-0.919
                        c0,0,38.667,21.586,33.333,23.586c0,0-30-20.667-140-8c0,0,38.667,2.667,35.333,8.001c0,0-39.334-2.667-56.667,5.333
                        c0,0,20.667-2,21.333,2l-16,7.333c0,0-4,2,2.667,6.667l-18.667-12.667l6,18l-6-2.667l6,11.333l-16,0.667l9.333,5.333
                        c0,0-63.333,0.667-106,90l21.999-9.334c0,0-69.334,81.333-68.667,162c0,0,18.667-19.333,20.667-19.333
                        c0,0-25.344,60.667-20.672,83.333c0,0,22.004-24,31.338-22.667c0,0-35.333,51.334-12,132c0,0,15.333-32.667,24.667-38.667
                        s2.667-2.667,2.667-2.667s-18,30.667,14,72.667c0,0,3.333-54.667,15.333-68.667l3.002,21.669c0,0,4.331,29.664,16.998,60.331
                        l11.669-53.664c0,0,52.667,125.333,64.667,137.333c0,0-72.667-219.001,52.333-274.001c0,0-14-6.333-22,1c0,0,16-17.333,20-17.333
                        l-18-2l32.667-24l-12.667-5.333c0,0,91.333-71.333,132-70c0,0,117.334-13.999,126-5.332c0,0,53.333,16.666,53.333,29.333
                        c0,0,49.333,48.667,43.333,64.667l6-8.878c0,0,24.668,83.542,19.334,94.877l5.334-11.335"/>
                </g>
            </svg>
        </div>
        
        <h1 class="name">Leonidas Esteban González <span> Front-End Web Developer</span></h1>
        <h2 class="twitter">
            <a href="//twitter.com/LeonidasEsteban">@LeonidasEsteban</a>
        </h2>
        <h2 class="github">
            <a href="https://github.com/LeonidasEsteban"></a>
        </h2>
        <nav class="menu">
            <ul class="lista">
                <li class="item"><a href="#yo" class="link active">Yo</a></li>
                <li class="item"><a href="#contratame" class="link">Contrátame</a></li>
                <li class="item"><a href="#portafolio" class="link">Portafolio</a></li>
                <li class="item"><a href="#aprende" class="link">Aprende</a></li>
            </ul>
        </nav>
        <div class="social">
            <aside id="facebook">
                <div class="fb-like" data-href="http://leonidasesteban.com" data-send="false" data-layout="button_count" data-width="70" data-show-faces="false" data-font="tahoma"></div>
            </aside>
            <aside id="twitter">
                <a href="https://twitter.com/LeonidasEsteban" class="twitter-follow-button" data-show-count="true" data-lang="es" data-size="">Seguir @LeonidasEsteban</a>
            </aside>
            <aside id="google">
                <div class="g-plusone" data-size="tall" data-annotation="inline"></div>
            </aside>
        </div>
    </header>
    
    <section id="wrapper" class="wrapper">
        <div id="frases" class="frases">
            {% for frase in frases %}
            <div class="frase clearfix">
                <h2 class="title">La frase del día</h2>
                <p class="text">{{frase.frase}}</p>
                <div class="twitter">
                    <a href="https://twitter.com/share" data-text="{{frase.frase}}" class="twitter-share-button" data-via="LeonidasEsteban" data-lang="es">Twittear</a>
                </div>
                <p class="details">
                    <span class="author">{{frase.autor}}</span>
                    <span class="date">{{frase.fecha}}</span>
                </p>
            </div>
            {% endfor %}
        </div>
        <div id="yo">
            <h2 class="title">Habilidades</h2>
            <ul class="lista">
                <li class="item-lista">
                    Planeación y diagramación
                    <ul class="lista">
                        <li class="item-lista">
                            HTML5
                        </li>
                        <li class="item-lista">
                            CSS3
                        </li>
                        <li class="item-lista">
                            Experiencia de Usuario
                        </li>
                        <li class="item-lista">
                            Responsive Design
                        </li>
                    </ul>
                </li>
                <li class="item-lista">
                    Programación Front-End
                    <ul class="lista">
                        <li class="item-lista">
                            Javascript
                        </li>
                        <li class="item-lista">
                            jQuery
                        </li>
                        <li class="item-lista">
                            jQuery Mobile
                        </li>
                        <li class="item-lista">
                            jQuery UI
                        </li>
                        <li class="item-lista">
                            BackBoneJS
                        </li>
                    </ul>
                </li>
                <li class="item-lista">
                    Programación Back-End
                    <ul class="lista">
                        <li class="item-lista">
                            Python - Django
                        </li>
                    </ul>
                </li>
                <li class="item-lista">
                    Preprocesadores
                    <ul class="lista">
                        <li class="item-lista">
                            Stylus - nib
                        </li>
                        <li class="item-lista">
                            Sass - Compass
                        </li>
                        <li class="item-lista">
                            Less
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <div id="contratame" class="contratame">
            <div class="servicios">
                <h4 class="psd">
                    <span class="big">PSD</span>  a <span class="big">HTML5 + CSS3 + Responsive Design</span>
                </h4>
            </div>
            <h2 class="speech">Escríbeme a<a href="mailto:bamboo@bamboolabs.com" class="link">bamboo@bamboolabs.com</a></h2>
        </div>
        <div id="portafolio" class="portafolio">
            <h2 class="title">Portafolio</h2>
            <div class="muestra">
                <figure class="image">
                    <img src="static/images/proyectos/mejorandola-movil.png" alt="Mejorando.la Movil"/>
                    <figcaption class="title-muestra"><a href="http://mejorando.la" class="link" target="_blank">Mejorando.la</a></figcaption>
                </figure>
            </div>
            <div class="muestra">
                <figure class="image">
                    <img src="static/images/proyectos/sparky-pelusa-movil.png" alt="Sparky&Pelusa Movil"/>
                    <figcaption class="title-muestra"><a href="http://sparkyypelusa.com" class="link" target="_black">Sparkyypelusa.com</a></figcaption>
                </figure>
            </div>
            <div class="muestra">
                <figure class="image">
                    <img src="static/images/proyectos/bamboolabs-movil.png" alt="Bamboolabs Movil"/>
                    <figcaption class="title-muestra"><a href="http://bamboolabs.com" class="link" target="_blank">bamboolabs.com</a></figcaption>
                </figure>
            </div>
        </div>
        <div id="aprende" class="aprende">
            <h2 class="title">Artículos</h2>
           
            <ul class="lista">
                <li class="item-lista">
                    <a href="http://www.cristalab.com/tutoriales/responsive-design-diseno-receptivo-y-adaptivo-en-la-web-c105160l/">Responsive Design diseño receptivo y adaptivo en la web</a>
                </li>
                

            </ul>
            <h2 class="title"><a href="/ejemplos/">Ejemplos</a></h2>
            <ul class="lista">
                <li class="item-lista">
                    <a href="/ejemplos/latido/">Latido de Corazón en CSS3</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/audio/">Tag Audio HTML5</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/CSS1K/">CSS1K</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/fixed.html">Position Fixed</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/scrollorama/">Parallax</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/sombras.html">Sombras CSS3 (circulo cromatico)</a>
                </li>
                
                <li class="item-lista">
                    <a href="/ejemplos/parametrosSombras.html">Sombras CSS3 (multiples sombras)</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/animacion-3d-css3/">Animaciones 3D con CSS3</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/sombras.html">Sombras CSS3 (circulo cromatico)</a>
                </li>
            </ul>
            <h2 class="title">Tutoriales</h2>
            <ul class="lista">
                <li class="item-lista">
                    <a href="http://www.cristalab.com/tutoriales/animacion-al-hacer-scroll-del-browser-con-scrollorama.js-c103712l/">Efecto Parallax con Scrollorama</a>
                </li>
                <li class="item-lista">
                    <a href="http://www.cristalab.com/tutoriales/diseno-de-layout-fluido-y-responsive-design-con-media-queries-css-c105349l/">Diseño de Layout fluido y resposive Design con media queries</a>
                </li>
                <li class="item-lista">
                    <a href="http://www.cristalab.com/tutoriales/version-movil-de-tu-web-en-3-pasos-con-mobify-c100865l/">Version movil de tu web en 3 pasos con Mobify</a>
                </li>
                <li class="item-lista">
                   <a href="http://www.cristalab.com/tutoriales/especial-de-san-valentin-animacion-de-latido-en-css3-c103857l/">Animaciones en CSS3</a>
                </li>
                <li class="item-lista">
                    <a href="http://www.cristalab.com/tutoriales/selecciona-todos-tus-amigos-para-invitar-a-eventos-de-facebook-c110897l/">Selecciona todos tus amigos para invitar a eventos de Facebook</a>
                </li>
                <li class="item-lista">
                    <a href="http://www.cristalab.com/tutoriales/tamano-de-sombras-con-box-shadow-en-css3-c103325l/">Sombras con CSS3</a>
                </li>
            </ul>
            
            <h2 class="title">Video Tutoriales</h2>
            <h3 class="subtitle"><span>Curso de Responsive Design</span></h3>
            <a href="https://github.com/LeonidasEsteban/curso-responsive-design" class="link">Repositorio en GITHUB</a>
            <ul class="lista">
                <li class="item-lista">
                    <a href="/ejemplos/curso-responsive-design/mostly-fluid/">Responsive Design Mostly Fluid</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/curso-responsive-design/column-drop/">Responsive Design Column Drop</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/curso-responsive-design/layout-shifter/">Responsive Design Layout Shifter</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/curso-responsive-design/tyny-tweaks/">Responsive Design Tyny Tweaks</a>
                </li>
                <li class="item-lista">
                    <a href="/ejemplos/curso-responsive-design/off-canvas/">Responsive Design Off Canvas</a>
                </li>

            </ul>
            <div class="video">
                <iframe width="560" height="315" src="//www.youtube.com/embed/DCRkJs_5fc8?list=PL10DFEA645CDC14EF" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3 class="subtitle">Instalación de Node.js en Windows</h3>
            <div class="video">
                <iframe width="560" height="315" src="//www.youtube.com/embed/3nnpCXtPXHg" frameborder="0" allowfullscreen></iframe>
            </div>
            
            
        </div>
    </section>
{% endblock %}

{% block footer %}
    <script src="static/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="static/js/jquery.localscroll-1.2.7-min.js"></script>
    <script>
        $(function(){
            $('body').localScroll();
            var alto = $(window).height();
            $('#contratame').css('height', alto - 100);
            $('.speech .link').on('click', function(){
                 _gaq.push(['_trackEvent', 'freelo' , 'click' , 'email']);
            });
        })
    </script>
{% endblock %}

